<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603524718422-btsgdcbl64cu70alp0uej29h2dnla57q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603524718422-btsgdcbl64cu70alp0uej29h2dnla57q</string>
	<key>API_KEY</key>
	<string>AIzaSyAA9aQlKyYv56_8AVgRHScTCbC817eE7nA</string>
	<key>GCM_SENDER_ID</key>
	<string>603524718422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ilstud.App-Mikhail-Ilyushkin</string>
	<key>PROJECT_ID</key>
	<string>vk-app-930b0</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-930b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603524718422:ios:a9ee76a83941add3e680f7</string>
	<key>DATABASE_URL</key>
	<string>https://vk-app-930b0.firebaseio.com</string>
</dict>
</plist>